.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  background-color: #222;
  height: 150px;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1493770348161-369560ae357d?w=2250&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center;
}

.container {
  margin-top: 20px;
}

.recipe-image {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.recipe-image img {
  position: absolute;
  left: 0;
  right: 0;
  top: -35%;
}

.recipe-box {
  box-shadow: 1px 1px 5px -3px black;
}

.recipe-btn {
  text-align: center;
}

.recipe-btn button {
  width: 10%;
  margin: 5px 10px;
  float: none !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
