.header {
  background-color: #222;
  height: 150px;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?auto=format&fit=crop&w=1355&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center; }

.header .header-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  text-shadow: 1px 1px 1px #3e3e3e;
  letter-spacing: 5px; }

.container {
  margin: 20px auto; }

.recipe-box {
  box-shadow: 1px 1px 5px -3px black; }

.recipe-image:hover img,
.recipe-image:focus img {
  transform: scale(1.1); }

.recipe-image {
  height: 200px;
  position: relative;
  overflow: hidden; }

.recipe-image img {
  position: absolute;
  left: 0;
  right: 0;
  top: -35%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.recipe-name {
  font-size: 19px;
  cursor: pointer;
  text-align: center; }

.recipe-body {
  display: flex; }

.recipe-ingredients {
  width: 30%; }

.recipe-method {
  width: 70%; }

.recipe-btn {
  text-align: center; }

.recipe-btn button {
  width: 20%;
  margin: 5px 10px;
  float: none !important; }

ul {
  list-style-type: circle;
  padding-left: 20px; }

textarea {
  resize: vertical;
  max-height: 250px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
